@font-face {
  font-family: 'Raleway';
  src: url('./fonts/Raleway-ExtraLightItalic.woff2') format('woff2'),
      url('./fonts/Raleway-ExtraLightItalic.woff') format('woff'),
      url('./fonts/raleway-extralight-italic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
  /* font-display: swap; */
}

@font-face {
  font-family: 'Raleway';
  src: url('./fonts/Raleway-LightItalic.woff2') format('woff2'),
      url('./fonts/Raleway-LightItalic.woff') format('woff'),
      url('./fonts/raleway-light-italic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  /* font-display: swap; */
}

@font-face {
  font-family: 'Raleway';
  src: url('./fonts/Raleway-Light.woff2') format('woff2'),
      url('./fonts/Raleway-Light.woff') format('woff'),
      url('./fonts/raleway-light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  /* font-display: swap; */
}

@font-face {
  font-family: 'Raleway';
  src: url('./fonts/Raleway-Medium.woff2') format('woff2'),
      url('./fonts/Raleway-Medium.woff') format('woff'),
      url('./fonts/raleway-medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  /* font-display: swap; */
}

@font-face {
  font-family: 'Raleway';
  src: url('./fonts/Raleway-Regular.woff2') format('woff2'),
      url('./fonts/Raleway-Regular.woff') format('woff'),
      url('./fonts/raleway-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  /* font-display: swap; */
}

@font-face {
  font-family: 'Raleway';
  src: url('./fonts/Raleway-SemiBold.woff2') format('woff2'),
      url('./fonts/Raleway-SemiBold.woff') format('woff'),
      url('./fonts/raleway-semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  /* font-display: swap; */
}

@font-face {
  font-family: 'Raleway';
  src: url('./fonts/Raleway-ThinItalic.woff2') format('woff2'),
      url('./fonts/Raleway-ThinItalic.woff') format('woff'),
      url('./fonts/raleway-thin-italic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  /* font-display: swap; */
}

@font-face {
  font-family: 'Raleway';
  src: url('./fonts/Raleway-Thin.woff2') format('woff2'),
      url('./fonts/Raleway-Thin.woff') format('woff'),
      url('./fonts/raleway-thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  /* font-display: swap; */
}

@font-face {
  font-family: 'Raleway';
  src: url('./fonts/Raleway-ExtraLight.woff2') format('woff2'),
      url('./fonts/Raleway-ExtraLight.woff') format('woff'),
      url('./fonts/raleway-extralight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  /* font-display: swap; */
}

* {
  font-family: 'Raleway';
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100%;
  background-color: var(--dark-gray);
  text-rendering: auto;
}

main {
  display: flex;
  flex-direction: column;
  /* gap: 20px; */
}

:root {
  --dark-gray: #333333;
  --light-pink: #CA9CB0;
  --pink: #BB3D74E5;
  --light: #E5E5E5
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dark-gray);
  z-index: 2;
  position: relative;
}


.header__block {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-color: var(--dark-gray);
  padding: 15px 20px;
  z-index: 1;
}

.header__block-logo {
  cursor: pointer;
  max-height: 58px;
  max-width: 250px;
}

.header__block-logo a {
  
}

.img-logo {
  width: 100%;
  height: 100%;
}

.header__block-content {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.header__nav {
  display: flex;

  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
}

.header__links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

.nav {
  color: white;
  position: relative;
}

.nav a:hover:before {
  opacity: 1;
}

.nav a:before {
  content: '';
  bottom: 0;
  width: 100%;
  position: absolute;
  height: 1px;
  background-color: #fff;
  transition: .3s;
  opacity: 0;
}


.header__buttons {
  display: flex;
  gap: 10px;
}

.header__socials {
  display: flex;
  align-items: center;
  gap: 3px;
}

.header__socials a {
  display: block;
  max-width: 30px;
  min-width: 20px;
}

.button__block {
  display: flex;
  align-items: center;
}

.button-frame {
  padding: 10px;
  font-weight: 500;
  font-size: 14px;
  background-color: transparent;
  color: var(--light-pink);
  border: 1.5px solid var(--light-pink);
  cursor: pointer;
}

.burger_btn {
  box-sizing: border-box;
  display: none;
  position: relative;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  z-index: 5;
  cursor: pointer;
}

.burger_btn span {
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: white;
  left: 10px;
  transition: transform .5s, opacity .5s, background-color .5s;
}

.burger_btn span:nth-child(2) {
  transform: translateY(-10px);
}

.burger_btn span:nth-child(3) {
  transform: translateY(10px);
}

.header.open .burger_btn span {
  background-color: white;
}

.header.open .burger_btn span:nth-child(1) {
  transform: translateY(0) rotate(45deg);
}

.header.open .burger_btn span:nth-child(2) {
  opacity: 0;
}

.header.open .burger_btn span:nth-child(3) {
  transform: translateY(0) rotate(-45deg);
}

.hide {
  display: none;
}

@keyframes show{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container {
  max-width: 1230px;
  width: 100%;
  padding: 20px;
  margin: 0 auto;
  /* z-index: 0; */
}

.light {
  background-color: var(--light);
  color: var(--dark-gray);
}

.dark {
  background-color: var(--dark-gray);
  color: var(--light);
}

.hero {
  background-image: url('src/img/hero_bg.JPEG');
  /* height: 845px; */
  /* background-image: url('src/img/photo.png');  */
  background-repeat: no-repeat;    
  background-size: cover;
  background-position: 30% top;
  top: -100px;
  /* background-color: #333333; */
  position: relative;
  z-index: 1;
  margin-bottom: -100px;
}

.hero:after{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--dark-gray);
  opacity: .5;
  content: '';
}

.hero__content {
  /* padding: 15px; */
  height: 100vh;
  /* height: 100%; */
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  position: relative;
  z-index: 2;
}

.hero__block {
  display: flex;
  flex-direction: column;
  height: 100%;
  /* padding-top: 340px; */
  justify-content: flex-end;
  align-items: center;
  gap: 60px;
}

.hero-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hero-text h1 {
  font-weight: 400;
  font-size: 28px;
  text-transform: uppercase;
  color: white;
}

.hero-text h3 {
  font-weight: 200;
  font-size: 20px;
  text-transform: lowercase;
  color: white;
}

.hero-buttons {
  display: flex;
  flex-direction: column;
  position: relative;
}

.button-full {
  padding: 15px 20px;
  font-weight: 200;
  font-size: 18px;
  color: white;
  background-color: var(--pink);
}

.bigtext {
  text-transform: uppercase;
}

@keyframes arrow {
  0% {
      opacity: 0;
      transform: translate(0, -20px) rotate(-45deg);
  }
  10%, 90% {
      opacity: 0;
  }
  50% {
      opacity: 1;  
      transform: translate(0, 0) rotate(-45deg);
  }
  100% {
      opacity: 0;
      transform: translate(0, 20px) rotate(-45deg);
  }

}

.formats__block {
  
}

.inner__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.block_title {
  display: flex;
  justify-content: center;
}

.block_title h1 {
  font-weight: 400;
  font-size: 26px;
  color: inherit;
}

.block_cards {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 60px 20px;
  height: 500px;
  width: 100%;
  background-repeat: no-repeat;    
  background-size: cover;
  /* border: 1px solid white; */
  border-radius: 20px;
  position: relative;
  min-width: 0;
}

.catalog {
  background-image: url(./src/img/catalog/main.JPG);
}
.imidge {
  background-image: url(./src/img/imidge/main.JPG);
}
.street {
  background-image: url(./src/img/street/main.JPEG);
}
.individual {
  background-image: url(./src/img/individual/main.JPG);
}
.video {
  /* background-image: url(./src/img/individual/main.JPG); */
  background-color: var(--light-pink);
}
.reels {
  /* background-image: url(./src/img/individual/main.JPG); */
  background-color: var(--light-pink);
}

.card:after{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--dark-gray);
  border-radius: 20px;
  opacity: .5;
  content: '';
}

.card__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  color: white;
  z-index: 1;
}

.card_text {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card_title {
  font-weight: 500;
  font-size: 32px;
}

.card_info {
  font-weight: 200;
  font-size: 19px;
}

.button-full {
  font-weight: 100;
  font-size: 20px;
}

.price {
  gap: 30px;
}

.price-block {
  padding: 20px;
  position: relative;
  border: 0.5px solid var(--dark-gray);
}

.price-title {
  background-color: var(--light);
  position: absolute;
  top: -20px;
  padding: 0 10px;
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
}

.price-content {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  font-weight: 200;
  font-size: 18px;
}

.content-column {

}

.content-column p span {
  font-size: 14px;
}

.model {
  padding: 0;
}

/* Динамические размеры */
.mySwiper {
  width: 333px;
  height: 500px;
  border-radius: 20px;
}

.swiper-slide {
  
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}

.prev, .next {
  overflow: visible;
  padding: 10px;
  /* background-color: var(--dark-gray); */
  color: var(--pink) !important;
  /* border: 1px solid var(--pink); */
  
}

.swiper-button-prev::after, .swiper-button-next::after {
  color: var(--pink);
  z-index: 15;
}
.swiper-pagination-bullet-active {
  background-color: var(--pink) !important;
}

/* to phone */
@media screen and (max-width: 668px) {
  header {
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
    z-index: 2;
  }

  .burger_btn {
    display: block;
    align-self: flex-end;
    z-index: 5;
  }

  .header__block{
    display: none;
    opacity: 0;
    
  }

  header.open {
    height: 95vh;
    justify-content: flex-start;
    /* border: 1px solid #fff; */
  }

  .open{
    background-color: var(--dark-gray);
  }

  .header__block.open {
    position: relative;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    gap: 30px;
    max-height: 85vh;
    height: 100%;
    box-sizing: border-box;
    padding-top: 0;
    padding-bottom: 30px;
    opacity: 1;
    animation: show .5s 1;
    transition: .5s;
    /* top: 0; */
    /* border: 1px solid #fff; */
  }

   .header__block-logo{
    padding-top: -20px;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    align-self: flex-start;
  }

  .img-logo {


  }

  .header__nav {
    flex-direction: column;
    justify-content: space-between;
    /* padding-bottom: 100px; */

  }
  .header__links {
    flex-direction: column;
    justify-content: center;
    font-size: 24px;
    font-weight: 100;
    gap: 20px;
  }

  .header__buttons {
    padding-top: 30px;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
  }

  .header__socials {
    justify-content: center;
  }

  .header__socials a img{
    max-width: 50px;
    max-height: 50px;
  }

  .button__block {
    justify-content: center;
  }

  .button-frame {
    font-size: 24px;
  }

  .hero-text h1:after {
    content: '';
    width: 50%;
    height: 1px;
    background-color: white;
    display: block;
    margin: 5px auto 0 auto;
  }

  .arrow {
      position: relative;
      width: 40px;
      height: 40px;
      margin: 0 auto 20px auto;
      /* margin: 0 auto; */
  }
  .arrow:before,
  .arrow:after {
      content: '';
      position: absolute;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      border-left: 2px solid white;
      border-bottom: 2px solid white;
      animation: arrow 3s linear infinite;
  }
  .arrow:after {
      animation: arrow 3s linear infinite -1.5s;
  }

  .hero__block {
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 680px) {
  /* Убираем ссылки и кнопки из хедера */
  /* .header__nav {
    display: none;
  }
  .header__buttons {
    display: none;
  } */


  /* Стилизуем общий хедер для правильного отображения бургера */


  .header__block {

  }

  .header__block-logo {
    /* width: 100%;
    display: flex;
    justify-content: center; */
  }
}


/* Мобильная версия большая + планшет*/
@media screen and (min-width: 480px) and (max-width: 680px) {
  /* Стилизуем общий хедер для правильного отображения бургера */
  /* header {
    justify-content: space-between;
  }

  .header__block {
    display: flex;
    width: 100%;
    padding: 0;
  } */
}

/* Больше мобилки */
@media screen and (min-width: 680px) {
  /* Показываем внутренний хедер */
  .header__block {
    display: flex;
  }

  .burger__block {
    display: none;
  }
}


